header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0px 20px 0px 20px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}