:root {
    --dark-blue: #41456c;
    --gray-font: #B8B9C8;
    --link-hover: #bcb3fe;
}

footer {
    background-color: #808080;
    width: 100%;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 14px;
    color: #cecece;
}

.footer-container {
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #cecece;
        gap: 40px;
}

.contact,
.social-icons,
.address {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact ul,
.social-icons ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact ul li span{
    margin-right: 5px;
}

.social-icons ul li a {
    text-decoration: none;
    color: var(--dark-blue);
    position: relative;
    transition: color .4s ease-in-out;
    display: inline-flex;
    align-items: center;
}

.social-icons ul li a span {
    margin-right: 5px;
}

.link-text {
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
}

.link-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--link-hover);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.social-icons ul li a:hover {
    color: var(--link-hover);
}

.social-icons ul li a:hover .link-text::before {
    transform-origin: left;
    transform: scaleX(1);
}

.footer-bottom a {
    text-decoration: none;
    color: var(--dark-blue);
    position: relative;
    padding-bottom: 2px;
    transition: color .4s ease-in-out;
}

.footer-bottom a:hover {
    color: var(--link-hover);
}
  
.footer-bottom a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--link-hover);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.footer-bottom a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}