:root {
  --dark-blue: #41456c;
  --gray-font: #B8B9C8;
}

* {
  margin: 0;
  padding: 0;
}

.background{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select:none;
  filter: brightness(60%) blur(5px);
  z-index: 0;
}

.content {
  position: relative;
}