.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    position: relative;
    background-color: #ffffff80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    z-index: 1;
}

#form-top {
    color: var(--dark-blue);
    margin-bottom: 40px;
}

#form-ipts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 290px;
    margin-bottom: 40px;
}

#form-ipts input {
    color: var(--dark-blue);
    background-color: #0000;
    font-size: 18px;
    border: 0;
    height: 50px;
    width: 100%;
}

#form-ipts input:focus {
    outline: none;
    box-shadow: none;
    border: none;

}


.hide-label {
    display: none;
    color: red;
    font-size: small;
}

.show-label {
    display: block;
    color: red;
}

#form-ipts input::placeholder {
    color: var(--dark-blue);
}

#form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-bottom button {
    font-weight: bold;
    cursor: pointer;
    width: 290px;
    background-color: var(--dark-blue);
    color: var(--gray-font);
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 40px;
    transition: ease-in-out 0.2s;
}

#form-bottom button:hover {
    transform: translateY(-7px);
    box-shadow: 0px 7px 10px rgb(52, 52, 52);
    transition: ease 0.1s;
}

#form-bottom button:active {
    background-color: var(--gray-font);
    color: var(--dark-blue);
    transform: translateY(-1px);
    box-shadow: none;
}

#form-bottom p {
    color: #41456c;
    font-weight: bold;
}

#form-bottom a {
    color: #3c47ad;
}

.campo {
    display: flex;
    flex-direction: column;
}

.ipt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--dark-blue);
}

.eye-btn {
    cursor: pointer;
    border: none;
    background: none;
}

.errors {
    text-align: center;
}